doctype html 
html 
    head
        title Create New Contact
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Create New Contact
        form(action="/updates", method="POST")
            label(for="firstname") First Name
            input(type="text", name="firstname" required)
            br
            label(for="lastname") Last Name
            input(type="text", name="lastname" required)
            br
            label(for="email") Email
            input(type="email", name="email" required)
            br
            label(for="bio") Bio
            input(type="text", name="bio")
            br
            label(for="video_games") Video Games
            input(type="text", name="video_games")
            br
            label(for="favorit_movie") Favorite Movie
            input(type="text", name="favorit_movie")
            br
            button(type="submit") Submit
        p 
            a(href="/") Back to Contacts